html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
    --shadow-down:#ffffff;
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);
	width: 100%;
    overflow-x: hidden;
}

nav
{
    scroll-snap-align: start;
}

.title
{
	display: flex;
	padding: 2% 0%;
	margin: auto;
	width: 100%;
	justify-self: center;
	align-self: center;
	text-justify: center;
}

.title span
{
	color: var(--text-color);
	font-size: 12vh;
	text-align: center;
	margin: auto;
}

.mainpage
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 92vh;
}
.mainpage img
{
    max-width: 50vw;
    max-height: 40vh;
    margin: auto;
    border-radius: 50%;
}

.mainpage p
{
    width: 60vw;
    margin: auto;
}

.mainpage button
{
    border-radius: 18px;
    width: 30%;
    text-align: center;
    border: 0;
    margin: auto;
    background-color: var(--text-color);
    color: var(--bg-color);
}

.mainpage ul
{
    display: flex;
    /* justify-content: space-around;? */
    list-style: none;
    margin: auto;
}
.mainpage ul li
{
    padding: 0 2vw;
}

.mainpage ul li img
{
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 35px;
    width: auto;
    border-radius: 0;
}
.scroll_down
{
    position: relative;
    margin: auto;
    text-transform: uppercase;
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: center;
    align-self: flex-start;
    animation: bounce 1.5s infinite;
}

.scroll_down span
{
    background-color: var(--text-color);
    color: var(--bg-color);
    text-decoration: none;
    cursor: pointer;
}

.experience
{
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.education
{
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.skills
{
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

@media screen and (max-width:780px){
.title span
{
    font-size: 60px;
}
.mainpage p
{
    width: 80%;
}
.mainpage button
{
    width: 50%;
}
.mainpage img
{
    
    height: auto;
}
}

@keyframes bounce
{
    0%{
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-15px);
    }
    100%
    {
        transform: translateY(0px);
    }
}