html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
    --shadow-down:#ffffff;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);
	width: 100%;
    overflow-x: hidden;
}

nav
{
    scroll-snap-align: start;
}

.title
{
	display: flex;
	padding: 2% 0%;
	margin: auto;
	width: 100%;
	justify-self: center;
	align-self: center;
	text-justify: center;
}

.title span
{
	color: var(--text-color);
	font-size: 12vh;
	text-align: center;
	margin: auto;
}

.mainpage
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 92vh;
}
.mainpage img
{
    max-width: 50vw;
    max-height: 40vh;
    margin: auto;
    border-radius: 50%;


}
.profile_img
{
    border-style: solid;
    border-color: var(--text-color);
}

.mainpage p
{
    width: 60vw;
    margin: auto;
}

.mainpage button
{
    border-radius: 18px;
    width: 30%;
    text-align: center;
    border: 0;
    margin: auto;
    background-color: var(--text-color);
    color: var(--bg-color);
}

.mainpage ul
{
    display: flex;
    /* justify-content: space-around;? */
    list-style: none;
    margin: auto;
}
.mainpage ul li
{
    padding: 0 2vw;
}

.mainpage ul li img
{
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 35px;
    width: auto;
    border-radius: 0;
}
.scroll_down
{
    position: relative;
    margin: auto;
    text-transform: uppercase;
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: center;
    align-self: flex-start;
    animation: bounce 1.5s infinite;
}

.scroll_down span
{
    background-color: var(--text-color);
    color: var(--bg-color);
    text-decoration: none;
    cursor: pointer;
}

.experience
{
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.education
{
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00b09b, #078f61);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00b09b, #078f61); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.skills
{
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    background: #0cebeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #078f61, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #078f61, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.email_popup
{
    color: var(--text-color);
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 2% 2%;
    position: absolute;
    background-color:var(--bg-color);
    height: 30vh;
    width: 30vw;
    border-radius: 12px;
    transform: translate(110%,-210%);
    z-index: -100;
    opacity: 0;
    justify-content: center;
    align-content: center;
    box-shadow:  4px 4px 12px var(--shadow-up),
    -4px -4px 12px var(--shadow-down);
    -moz-box-shadow:  4px 4px 12px var(--shadow-up),
    -4px -4px 12px var(--shadow-down);
    -o-box-shadow:  4px 4px 12px var(--shadow-up),
    -4px -4px 12px var(--shadow-down);
    -webkit-box-shadow:  4px 4px 12px var(--shadow-up),
    -4px -4px 12px var(--shadow-down);
    -webkit-appearance: none;
    text-align: center;
}

.email_popup button
{
   align-self: center;
   width: 60%;
    padding: 1% 0%;
    cursor: pointer;
}

.popup_class
{
    animation: popup 0.5s;
    animation-fill-mode: forwards;
}

.popup_close
{
    animation: popup-close 0.5s;
    animation-fill-mode: forwards;
}

@keyframes popup-close
{
    from{
        opacity: 1;
        /* display: none; */
        z-index: 100;
    }
    to{
        opacity: 0;
        /* display: block; */
        z-index: -100;
    }
}

@keyframes popup
{
    from{
        opacity: 0;
        /* display: none; */
        z-index: -100;
    }
    to{
        opacity: 1;
        /* display: block; */
        z-index: 100;
    }
}

@media screen and (max-width:780px){
.title span
{
    font-size: 50px;
}
.mainpage p
{
    width: 75%;
}
.mainpage button
{
    width: 45%;
}
.mainpage img
{

    height: auto;
}
.email_popup
{
    height: 30vh;
    width: 80vw;
    transform: translate(10%,-210%);
}
}

@keyframes bounce
{
    0%{
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-15px);
    }
    100%
    {
        transform: translateY(0px);
    }
}