#h1-name
{
	text-align: center;
	color: #cccccc;
}
#image-div
{
	width: 100%;
	text-align: center;
}

#image
{
	padding: 20pt;
	width: 21%;
}


#div-para
{
	font-size: 20pt;
	text-align: center;
	padding: 5pt;
	color: #000;
}