html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
    --shadow-down:#ffffff;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);
	width: 100%;
    overflow-x: hidden;
}
/* ^^^^^^^^^^^^^^^^^ MUST BE IN ALL CSS FILES ^^^^^^^^^^^^^^^^^^^^^^ */
nav
{
    scroll-snap-align: start;
}
.main-title
{
    margin: 0;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    width: 100vw;
    height: 92vh;
    /* background-image: url(../images/blog-1.jpg); */
    background-repeat:  no-repeat;
    background-size: cover;
    /* scroll-snap-align: start; */
}
.shareables
{
    /* background-color: aqua; */
    /* height: 92vh; */
    height: auto;
    padding: 10vw;
    list-style: none;
    text-align: end;
}

.shareables li
{
    /* font-family: 'Notable', sans-serif; */
    height: 10vh;
    /* text-justify: center; */
    font-size: 18px;
}
#link a
{
    color: var(--text-color);
    text-decoration: none;
}
.all-info
{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    width: 70vw;
    height: 92vh;
    /* background-image: linear-gradient(to right, var(--bg-color),var(--bg-color),transparent); */
}

.big-title
{
    font-family: 'Notable', sans-serif;
    width: 50vw;
    font-size: 95px;
    /* text-shadow: var(--bg-color) 2px 2px , var(--bg-color) -2px -2px, var(--bg-color) 2px -2px, var(--bg-color) -2px 2px; */
	/* background-image: linear-gradient(to right,var(--bg-color,transparent)); */
}
.info
{
    font-family: 'Notable', sans-serif;
    width: 60vw;
    font-size: 60px;
    /* text-shadow: var(--bg-color) 2px 2px , var(--bg-color) -2px -2px, var(--bg-color) 2px -2px, var(--bg-color) -2px 2px; */
	/* background-image: linear-gradient(to right,var(--bg-color,transparent)); */
	
}
.date
{
    font-family: 'Notable', sans-serif;
    font-size: 25px;
    /* text-shadow: var(--bg-color) 2px 2px , var(--bg-color) -2px -2px, var(--bg-color) 2px -2px, var(--bg-color) -2px 2px; */
	/* background-image: linear-gradient(to right,var(--bg-color,transparent)); */
}
.author
{
    font-family: 'Notable', sans-serif;
    font-size: 25px;
    /* text-shadow: var(--bg-color) 2px 2px , var(--bg-color) -2px -2px, var(--bg-color) 2px -2px, var(--bg-color) -2px 2px; */
	/* background-image: linear-gradient(to right,var(--bg-color,transparent)); */
}
.scroll_down
{
    position: relative;
    margin: auto;
    text-transform: uppercase;
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: center;
    align-self: flex-end;
    animation: bounce 1.5s infinite;
}
.scroll_down span
{
    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}


.article
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 0 30vh 5vh 30vh;
    background-color:var(--bg-color);
    scroll-snap-align: start;
    z-index: 9999;
}

.article p
{
    padding: 3vh 0;
    font-size: 27px;
}

.article img
{
    width: 50%;
    align-content: center;
    margin: auto;
}

.stop_scroll
{
    width: 100vw;
    /* height: 2vh; */
    scroll-snap-align: start;
    scroll-snap-stop: always;
}


.audiobox
{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
	border-radius: 12px;
    box-shadow:  6px 6px 12px var(--shadow-up),
	 -6px -6px 12px var(--shadow-down);
	-moz-box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
	-o-box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
	-webkit-box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
	-webkit-appearance: none;
	margin-bottom: 3vh;
}

.audiobox audio
{
    width: 30vw;
    margin: auto;
    background-color: #f1f3f4;
}

.audiobox audio:focus
{
    outline: none;
}
.audiobox img
{
    border-radius: 12px 12px 0px 0px; 
    max-width: 30vw;
    max-height: auto;
    margin: auto;
    
}

.audiobox span
{
    opacity: 0.6;
    margin: auto;
    text-align: center;
}

/* ------------------------ */
@media screen and (max-width:1444px){

.big-title
{
    font-size: 75px;
}
.info
{
    font-size: 50px;
}
.date
{
    font-size: 35px;
}
.author
{
    font-size: 35px;
}

}

@media screen and (max-width: 1337px)
{
    .article
{
    padding: 0 6vh 2vh 6vh;
}
.article p
{
    font-size: 26px;
    line-height: 1.3em;
}
.article img
{
    max-height: 45vh;
    max-width: auto;
}
.audiobox img
{
    max-width: 70vw;
}
.audiobox audio
{
    width: 70vw;
}
}
/* --------------------------- */

@media screen and (max-width:768px){
.all-info
{
    height: 88vh;
}

.big-title
{
    /* height: 70vh; */
    font-size: 44px;
}
.info
{
    width: 60vw;
    font-size: 20px;
}
.date
{
    font-size: 13px;
}
.author
{
    font-size: 13px;
}
.article
{
    padding: 0 6vh 2vh 6vh;
}
.article p
{
    font-size: 18px;
    line-height: 1.3em;
}
.article img
{
    max-width: auto;
    width: 90%;
}
.audiobox audio
{
    width: 70vw;
}
.audiobox img
{
    max-width: 70vw;
	max-height: auto;
}
}
@media screen and (max-width:375px){
    .big-title
    {
        font-size: 38px;
    }
}

@media screen and (max-width:320px){
    .big-title
    {
        font-size: 37px;
    }
}

@media screen and (max-width:645px){}

@keyframes bounce
{
    0%{
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-15px);
    }
    100%
    {
        transform: translateY(0px);
    }
}