.blog-card
{
	margin: 5vw;
	width: 90vw;
	box-shadow: 0px 0px 4px 4px black;
}

.blog-card-image
{
	width: 10vw;
}

.blog-card-table
{
	width: 88vw;
}

.blog-card-td
{
}

.blog-card-title
{
	font-size: 1.5em;
	color: #FFFFFF;
	text-align: right;
}