html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
	--shadow-down:#ffffff;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

body
{
	background-color: var(--bg-color);
	width: 100%;
	overflow-x: hidden;
}
a
{
	text-decoration: none;
	color: var(--text-color);
}

.grid-container
{
	position: absolute;
	display: grid;
	width: 100vw;
	height: auto;
	padding-bottom: 2vh;
	grid-gap: 4vh 5vw;
	grid-template-columns: 40vw 40vw;
	grid-template-rows: repeat(5, 20vh);
	align-content: center;
	justify-content: center;
	
}
.blog
{
	display: grid;
	/* grid-template-columns: 40% 40%; */
	/* grid-template-rows: 10% 50% 20% 20%; */
	/* grid-template-rows: 100% 50% 50% 100%;
	grid-template-columns: 10% 40% 40%; */
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 3fr 1fr;
	grid-gap: 2% 1%; 
	padding: 2%;
	justify-content: center;
	width: 40vw;
	height: auto;
	color: var(--text-color);
	/* background: var(--bg-color); */
	flex-direction: row;
	border-radius: 12px;
	box-shadow:  6px 6px 12px var(--shadow-up),
	 -6px -6px 12px var(--shadow-down);
	-moz-box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
	-o-box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
	-webkit-box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
	-webkit-appearance: none;
				
}
.name
{
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
	font-size: 1.4em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
}
.picture
{

	margin: auto;
	grid-row-start: 2;
	grid-row-end: 4;
}
.picture img
{
	margin: auto;
	width: 15vw;
	height: 12vh;
}
.blog_info
{
	margin: auto;
	font-size: 1.2em;
	justify-content: center;
	/* background-color: blue; */
}
.date_time
{
	font-size: 1.2em;
}
.blog:hover
{
	box-shadow:  -6px -6px 12px var(--shadow-up),
	6px 6px 12px var(--shadow-down);
	-moz-box-shadow:  -6px -6px 12px var(--shadow-up),
	6px 6px 12px var(--shadow-down);
	-o-box-shadow:  -6px -6px 12px var(--shadow-up),
	6px 6px 12px var(--shadow-down);
	-webkit-box-shadow:  -6px -6px 12px var(--shadow-up),
	6px 6px 12px var(--shadow-down);
	-webkit-appearance: none;
}

.title
{
	display: flex;
	padding: 5% 0%;
	margin: auto;
	width: 100%;
	justify-self: center;
	align-self: center;
	text-justify: center;
}

.title span
{
	color: var(--text-color);
	font-size: 12vh;
	text-align: center;
	margin: auto;
}

@media screen and (max-width:1024px){
	.picture img
	{
		height: 120.5px;
		width: 120.5px;
	}
}

@media screen and (max-width:780px){

.grid-container
{
	padding: 2vh 2vw;
	grid-gap: 2vh 5vw;
	grid-template-columns: 80vw;
	grid-template-rows: repeat(8, 30vh);
	justify-content: center;	
}
.blog
{
	width: 80vw;
	height: auto;
	box-shadow:  4px 4px 10px var(--shadow-up),
		-4px -4px 10px var(--shadow-down);
	-moz-box-shadow:  4px 4px 10px var(--shadow-up),
	-4px -4px 10px var(--shadow-down);
	-o-box-shadow:  4px 4px 10px var(--shadow-up),
	-4px -4px 10px var(--shadow-down);
	-webkit-box-shadow:  4px 4px 10px var(--shadow-up),
	-4px -4px 10px var(--shadow-down);
	-webkit-appearance: none;
}
.blog:hover
{
	box-shadow:  -4px -4px 10px var(--shadow-up),
		4px 4px 10px var(--shadow-down);
	-moz-box-shadow:  -4px -4px 10px var(--shadow-up),
	4px 4px 10px var(--shadow-down);
	-o-box-shadow:  -4px -4px 10px var(--shadow-up),
	4px 4px 10px var(--shadow-down);
	-webkit-box-shadow:  -4px -4px 10px var(--shadow-up),
	4px 4px 10px var(--shadow-down);
	-webkit-appearance: none;
}
.name
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1.2em;;
}
.blog_info
{
	font-size: 1em;
	text-overflow: ellipsis;
	/* overflow: hidden; */
	/* white-space: nowrap; */
}
.date_time
{
	font-size: 0.5em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.picture img
{
	height: 100.5px;
	width: 100.5px;
}
}
@media screen and (max-width:645px){

.blog_info
{
	font-size: 0.6em;
}
.name
{
	font-size: 0.8em;
}
.date_time
{
	font-size: 0.4em;
}
.picture img
{
	width: 80px;
	height: 80px;
}
}