html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
	--shadow-down:#ffffff;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

body
{
	background-color: var(--bg-color);
	width: 100%;
	overflow-x: hidden;
}
a
{
	text-decoration: none;
	color: var(--text-color);
}
.run-animation
{
	animation: shadow-transition-reverse 0.5s;
	animation-fill-mode: forwards;
}

.grid-container
{
	position: absolute;
	display: grid;
	width: 100vw;
	height: auto;
	padding-bottom: 2vh;
	grid-gap: 4vh 5vw;
	grid-template-columns: 40vw 40vw;
	grid-template-rows: repeat(5, 20vh);
	align-content: center;
	justify-content: center;
	
}
.blog
{
	display: flex;
	padding: 5%;
	justify-content: center;
	width: 40vw;
	height: auto;
	color: var(--text-color);
	background: var(--bg-color);
	border-radius: 12px;
	/* animation: shadow-transition-reverse 0.5s;
	animation-fill-mode: forwards; */
	box-shadow:  6px 6px 12px var(--shadow-up),
	 -6px -6px 12px var(--shadow-down);
	-moz-box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
	-o-box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
	-webkit-box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
	-webkit-appearance: none;
				
}
.blog:hover
{
	/* animation: shadow-transition 0.5s;
	animation-fill-mode: forwards;  */
	box-shadow:  -6px -6px 12px var(--shadow-up),
	6px 6px 12px var(--shadow-down);
	-moz-box-shadow:  -6px -6px 12px var(--shadow-up),
	6px 6px 12px var(--shadow-down);
	-o-box-shadow:  -6px -6px 12px var(--shadow-up),
	6px 6px 12px var(--shadow-down);
	-webkit-box-shadow:  -6px -6px 12px var(--shadow-up),
	6px 6px 12px var(--shadow-down);
	-webkit-appearance: none;
	/* cursor: pointer; */
}

.title
{
	display: flex;
	padding: 5% 0%;
	margin: auto;
	width: 100%;
	justify-self: center;
	align-self: center;
	text-justify: center;
}

.title span
{
	color: var(--text-color);
	font-size: 12vh;
	text-align: center;
	margin: auto;
}

@media screen and (max-width:780px){

.grid-container
{
	padding: 2vh 2vw;
	grid-gap: 2vh 5vw;
	grid-template-columns: 80vw;
	grid-template-rows: repeat(9, 20vh);
	justify-content: center;	
}
.blog
{
	width: 80vw;
	height: auto;
	/* animation: shadow-transition-reverse-mobile 0.3s;
	animation-fill-mode: forwards; */
	box-shadow:  4px 4px 10px var(--shadow-up),
		-4px -4px 10px var(--shadow-down);
	-moz-box-shadow:  4px 4px 10px var(--shadow-up),
	-4px -4px 10px var(--shadow-down);
	-o-box-shadow:  4px 4px 10px var(--shadow-up),
	-4px -4px 10px var(--shadow-down);
	-webkit-box-shadow:  4px 4px 10px var(--shadow-up),
	-4px -4px 10px var(--shadow-down);
	-webkit-appearance: none;
}
.blog:hover
{
	/* animation: shadow-transition-mobile 0.3s;
	animation-fill-mode: forwards; */
	box-shadow:  -4px -4px 10px var(--shadow-up),
		4px 4px 10px var(--shadow-down);
	-moz-box-shadow:  -4px -4px 10px var(--shadow-up),
	4px 4px 10px var(--shadow-down);
	-o-box-shadow:  -4px -4px 10px var(--shadow-up),
	4px 4px 10px var(--shadow-down);
	-webkit-box-shadow:  -4px -4px 10px var(--shadow-up),
	4px 4px 10px var(--shadow-down);
	-webkit-appearance: none;
}
}

@keyframes shadow-transition
{
	from
	{
		box-shadow:  6px 6px 12px var(--shadow-up),
		-6px -6px 12px var(--shadow-down);
	}
	to
	{
		box-shadow:  -6px -6px 12px var(--shadow-up),
		6px 6px 12px var(--shadow-down);
	}
}

@keyframes shadow-transition-reverse
{
	from
	{
		box-shadow:  0 0 0 var(--shadow-up),
		0 0 0 var(--shadow-down);
	}

	to
	{
		box-shadow:  6px 6px 12px var(--shadow-up),
		-6px -6px 12px var(--shadow-down);
	}
}

@keyframes shadow-transition-mobile
{
	from
	{
		box-shadow:  4px 4px 10px var(--shadow-up),
		-4px -4px 10px var(--shadow-down);
	}
	to
	{
		box-shadow:  -4px -4px 10px var(--shadow-up),
		4px 4px 10px var(--shadow-down);
	}
}

@keyframes shadow-transition-reverse-mobile
{
	from
	{
		box-shadow:  0 0 0 var(--shadow-up),
		0 0 0 var(--shadow-down);
	}

	to
	{
		box-shadow:  4px 4px 10px var(--shadow-up),
		-4px -4px 10px var(--shadow-down);
	}
}