#heading1
{
	padding: 10pt;;
	text-align:center;
	color: white;
}

#profile_pic_blog
{
	width: 15vw;
}

#td-pic
{
	width: auto;
}
#blog-heading
{
	padding-left: 0;
	text-align: left;
	color: #FFFFFF;
	height: auto;
}
#date
{
	text-align: left;
	font-size: 1em;
	color: #FFFFFF;
	z-index: auto;
}

.paragraph
{
	color: #000000;
	font-size: 2em;
	text-align: left; 
}
#div-table
{
	padding: 5pt;
}
td
{
	width: auto;
}
#div-para
{
	padding: 5pt;
	width: 60%;
	margin: 0 auto;
	text-align: left;
}

#div-image
{
	text-align: center;
}

#blog-image
{
	width: 50vw;
	box-shadow: 0px 0px 2px 4px black;
	border-radius: 4px;
}