@charset "utf-8";
/* CSS Document */

a
{
	text-decoration: none;
}
body
{
	padding: 0pt;
	border: 0pt;
	margin: 0pt;
	background: #292929;
}

#heading1
{
	text-align:center;
	color: #CCCCCC;
}

#profile_pic_blog
{
	width: 105px;
}

#td-pic
{
	width: auto;
}
#blog-heading
{
	padding-left: 0;
	text-align: right;
	color: #CCCCCC;
	height: auto;
}
#date
{
	color: #CCCCCC;
	z-index: auto;
}

.paragraph
{
	color: #CCCCCC;
	font-size: 20pt;
	text-align:center; 
}

h4
{
	
	text-align: center;
	color: #CCCCCC;
}
header
{
	position: fixed;
	padding: 2pt;
	border: 2pt;
	margin: 0pt;
	background: #292929;
}
#nav-heading1
{
	color: #CCCCCC;
}
#nav-heading-td
{
	padding: 5pt;
	width: 70vw;
}
.nav-sub-heading-td
{
	padding: 5pt;
	width: 8vw;
}

#header-table
{
	border: 1pt;
}

header:hover
{
	width: 100%;
	box-shadow: 1px 2px 2px 1px white;
}

.sticky 
{
	border: 0pt;
	padding: 2pt;
	margin: 0;
	position: fixed;
	width: 100%;
	box-shadow: 2px 4px 2px 2px black;
}

#header-div
{
}

#div-table
{
	padding: 5pt;
}

#div-para
{
	padding: 5pt;
}

    