html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
    --shadow-down:#ffffff;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);
	width: 100%;
    overflow-x: hidden;
}
/* ^^^^^^^^^^^^^^^^^ MUST BE IN ALL CSS FILES ^^^^^^^^^^^^^^^^^^^^^^ */
nav
{
    scroll-snap-align: start;
}
.main-title
{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 92vh;
    background-image: url(../images/blog-1.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
    /* scroll-snap-align: start; */
}
.all-info
{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 92vh;
    background-image: linear-gradient(to right, var(--bg-color),var(--bg-color),transparent);
}

.big-title
{
    font-family: 'Notable', sans-serif;
    width: 50vw;
    height: auto;
    font-size: 95px;
    /* background-image: linear-gradient(to right,var(--bg-color,transparent)); */
    text-shadow: var(--bg-color) 2px 2px , var(--bg-color) -2px -2px, var(--bg-color) 2px -2px, var(--bg-color) -2px 2px;
}
.info
{
    font-family: 'Notable', sans-serif;
    width: 70vw;
    font-size: 60px;
    /* background-image: linear-gradient(to right,var(--bg-color,transparent)); */
    text-shadow: var(--bg-color) 2px 2px , var(--bg-color) -2px -2px, var(--bg-color) 2px -2px, var(--bg-color) -2px 2px;
}
.date
{
    font-family: 'Notable', sans-serif;
    font-size: 25px;
    /* background-image: linear-gradient(to right,var(--bg-color,transparent)); */
    text-shadow: var(--bg-color) 2px 2px , var(--bg-color) -2px -2px, var(--bg-color) 2px -2px, var(--bg-color) -2px 2px;
}
.author
{
    font-family: 'Notable', sans-serif;
    font-size: 25px;
    text-shadow: var(--bg-color) 2px 2px , var(--bg-color) -2px -2px, var(--bg-color) 2px -2px, var(--bg-color) -2px 2px;
	/* background-image: linear-gradient(to right,var(--bg-color,transparent)); */
	/* background-image: linear-gradient(to right,var(--bg-color,transparent)); */
}
.scroll_down
{
    position: relative;
    margin: auto;
    text-transform: uppercase;
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: center;
    align-self: flex-start;
    animation: bounce 1.5s infinite;
}

.scroll_down span
{
    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}


.article
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 0 30vh 5vh 30vh;
    background-color:var(--bg-color);
    scroll-snap-align: start;
}

.article p
{
    padding: 3vh 0;
    font-size: 27px;
}

.comment-box
{
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 71vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2vh 0;
    border-radius: 12px;
    box-shadow:  6px 6px 12px var(--shadow-up),
    -6px -6px 12px var(--shadow-down);
   -moz-box-shadow:  6px 6px 12px var(--shadow-up),
   -6px -6px 12px var(--shadow-down);
   -o-box-shadow:  6px 6px 12px var(--shadow-up),
   -6px -6px 12px var(--shadow-down);
   -webkit-box-shadow:  6px 6px 12px var(--shadow-up),
   -6px -6px 12px var(--shadow-down);
   -webkit-appearance: none;
}

.comment-box span
{
    font-size: 25px;
    margin: 0 4vw;
}
.comment
{
    padding: 0;
    font-size: 25px;
    height: 12vh;
    margin: 2vh 4vw;
    padding: 8px 8px 0 8px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-width: 2px;
    resize: none;
    outline: 0;
}
.buttons
{
    width: inherit;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
}
.comment-box button
{
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 12px;
    height: 4vh;
    width: 10vw;
    outline: 0;
    cursor: pointer;
}
 
.stop_scroll
{
    width: 100vw;
    /* height: 2vh; */
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
/* ------------------------ */
@media screen and (max-width:1444px){

.big-title
{
    font-size: 75px;
}
.info
{
    font-size: 50px;
}
.date
{
    font-size: 35px;
}
.author
{
    font-size: 35px;
}

}

@media screen and (max-width: 1337px)
{
    .article
{
    padding: 0 6vh 2vh 6vh;
}
.article p
{
    font-size: 26px;
    line-height: 1.3em;
}
.article img
{
    max-height: 45vh;
    max-width: auto;
}
.comment-box
{
    width: 85vw;
}
.comment-box span
{
    font-size: 22px;
}
.comment
{
    font-size: 22px;
}
.comment-box button
{
    font-size: 22px;
}
}
/* --------------------------- */

@media screen and (max-width:768px){
.all-info
{
    height: 88vh;
}

.big-title
{
    /* height: 70vh; */
    font-size: 44px;
}
.info
{
    width: 90vw;
    font-size: 20px;
}
.date
{
    font-size: 13px;
}
.author
{
    font-size: 13px;
}
.article
{
    padding: 0 6vh 2vh 6vh;
}
.article p
{
    font-size: 18px;
    line-height: 1.3em;
}
.article img
{
    max-height: 45vh;
    max-width: auto;
}
.comment-box
{
    width: 85vw;
}
.comment-box span
{
    font-size: 19px;
}
.comment
{
    font-size: 19px;
}
.comment-box button
{
    font-size: 19px;
}
}
@media screen and (max-width:375px){
    .big-title
    {
        font-size: 38px;
    }
    .comment-box span
    {
        font-size: 16px;
    }
    .comment
    {
        font-size: 16px;
    }
    .comment-box button
    {
        width: 15vw;
        font-size: 16px;
    }
}

@media screen and (max-width:320px){
    .big-title
    {
        font-size: 37px;
    }
}

@media screen and (max-width:645px){}


@keyframes bounce
{
    0%{
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-15px);
    }
    100%
    {
        transform: translateY(0px);
    }
}