@charset "utf-8";
/* CSS Document */

a
{
	text-decoration: none;
}
body
{
	padding: 0pt;
	border: 0pt;
	margin: 0pt;
	background: #292929;
	font-family: 'Anonymous Pro', monospace;
		background-color: #292929;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#292929', endColorstr='#CCCCCC');
/*    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);*/
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #292929), color-stop(100%, #CCCCCC));
    background-image: -webkit-linear-gradient(135deg, #292929, #CCCCCC);
    background-image: -moz-linear-gradient(45deg, #292929, #CCCCCC);
    background-image: -ms-linear-gradient(45deg, 2929293 0, #CCCCCC 100%);
    background-image: -o-linear-gradient(45deg, #292929, #CCCCCC);
    background-image: linear-gradient(135deg, #292929, #CCCCCC);
}

#heading1
{
	padding: 10pt;;
	text-align:center;
	color: #FFFFFF;
}

#profile_pic_blog
{
	width: 15vw;
}

#td-pic
{
	width: auto;
}
#blog-heading
{
	padding-left: 0;
	text-align: left;
	color: #FFFFFF;
	height: auto;
}
#date
{
	text-align: left;
	font-size: 1em;
	color: #FFFFFF;
	z-index: auto;
}

.paragraph
{
	color: #000000;
	font-size: 20pt;
	text-align: left; 
}

h4
{
	
	text-align: center;
	color: #CCCCCC;
}
header
{
	position: fixed;
	padding: 2pt;
	border: 2pt;
	margin: 0pt;
	background: #292929;
	width: 100%;
}
#nav-heading1
{
	color: #CCCCCC;
}
#nav-heading-td
{
	padding: 4pt;
	width: 25%;
}
.nav-sub-heading-td
{
	padding: 0;
	width: 15%;
}

#header-table
{
	width: 100%;
	border: 1pt;
}

header:hover
{
	width: 100%;
	box-shadow: 1px 2px 2px 1px white;
}

.sticky 
{
	border: 0pt;
	padding: 2pt;
	margin: 0;
	position: fixed;
	width: 100%;
	box-shadow: 2px 4px 2px 2px black;
}

#div-table
{
	padding: 5pt;
}
td
{
	width: auto;
}
#div-para
{
	padding: 5pt;
	width: 60%;
	margin: 0 auto;
	text-align: left;
}

#div-image
{
	text-align: center;
}

#blog-image
{
	width: 50vw;
	box-shadow: 0px 0px 2px 4px black;
	border-radius: 4px;
}
    
/*Glitch*/

.text-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  z-index: 1;
}
.text-link:before,
.text-link:after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-link:before {
  color: #00ffff;
  z-index: -1;
}
.text-link:after {
  color: #ff00ff;
  z-index: -2;
}
.text-link:hover:before {
  -webkit-animation: glitchy 0.3s ease 0.3s infinite;
          animation: glitchy 0.3s ease 0.3s infinite;
}
.text-link:hover:after {
  animation: glitchy 0.3s ease infinite reverse;
}
@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}
@keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}
