html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
    --shadow-down:#ffffff;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

nav
{
	scroll-snap-align: start;
	z-index: 2;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);
	width: 100%;
    overflow-x: hidden;
}
body::-webkit-scrollbar {display:none;}
.mainpage
{
    display: flex;
    width: 100vw;
    height: 92vh;
    cursor: pointer;
}

.mainpage2
{
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}
.title
{
	display: flex;
	margin: auto;
    width: 100%;
	justify-self: center;
	align-self: center;
	text-justify: center;
}

.title span
{
	color: var(--text-color);
	font-size: 12vh;
	text-align: center;
	margin: auto;
}

.board
{
    /* height: 72vw;
    width: 72vw; */
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    align-self: center;
    justify-self: center;
    /* border: 2px solid var(--text-color); */
    box-shadow: 4px 4px 20px 4px var(--shadow-up),
    -4px -4px 20px 4px var(--shadow-up);
}

.row
{
    width: 48vw;
    height: 6vw;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.black
{
    width:6vw;
    height: 6vw;
    background-color: rgb(209, 137, 44);
    padding: 2px;
    cursor: pointer;
}
.white
{
    cursor: pointer;
    padding: 2px;
    width: 6vw;
    height: 6vw;
    background-color: burlywood;
    
}

.position
{
    position: relative;
}


.piece
{
    height: 70%;
    width: 70%;
    font-size: 50px;
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: center;
    text-justify: center;
    /* background-color: rebeccapurple; */
    z-index: 2;
}
.piece img
{
    width: 4vw;
    height: 4vw;
}
.white-piece{
color: white;
}
.black-piece{
    color: black;
}

.reset
{
    scroll-snap-align: start;
}