
html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
	--shadow-down:#ffffff;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

body
{
	background-color: var(--bg-color);
	width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
	z-index: -1;
}
.home
{
	padding: 0 20%;
	width: 100%;
	height: 90%;
	display: flex;
	position: absolute;
	
}
.home span
{
	text-align: left;
	margin: auto;
	font-size: 10.5vh;
	color:var(--text-color);
	font-family: Georgia;
}

a {
	color: #2fa1d6;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #fff;	
}

#canvas-container {
	/* background: #000 url(https://jackrugile.com/lab/fireworks-v2/images/bg.jpg); */
  /* height: 400px; */height: 92vh;
	/* left: 50%; */
	/* margin: -200px 0 0 -300px; */
	position: absolute;
	/* top: 50%; */
  /* width: 600px; */width: 100vw;
	z-index: 2;
}
		
canvas {
	cursor: crosshair;
	/* display: block; */
	/* position: relative; */
    z-index: 3;
    height: 80vh;
    width: 100vw;
}

canvas:active {
	cursor: crosshair;
}

#skyline {
	background: url(https://jackrugile.com/lab/fireworks-v2/images/skyline.png) repeat-x 50% 0;
	bottom: 0;
	height: 135px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;	
}

#mountains1 {
	background: url(https://jackrugile.com/lab/fireworks-v2/images/mountains1.png) repeat-x 40% 0;
	bottom: 0;
	height: 200px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;	
}

#mountains2 {
	background: url(https://jackrugile.com/lab/fireworks-v2/images/mountains2.png) repeat-x 30% 0;
	bottom: 0;
	height: 250px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;	
}

#gui {
	right: 0;
	position: fixed;
	top: 10vh;
	z-index: 3;
}