html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
    --shadow-down:#ffffff;
	scroll-behavior: smooth;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);
	width: 100%;
    overflow-x: hidden;
}
/* ^^^^^^^^^^^^^^^^^ MUST BE IN ALL CSS FILES ^^^^^^^^^^^^^^^^^^^^^^ */
nav
{
    scroll-snap-align: start;
}

.title
{
	z-index: -99;
	display: flex;
	/* padding: 1% 0%; */
	margin: auto;
	width: 100%;
	justify-self: center;
	align-self: center;
	text-justify: center;
}

.title span
{
	color: var(--text-color);
	font-size: 8vh;
	text-align: center;
	margin: auto;
}
.editor
{
    scroll-snap-align: start;
    height: 82vh;
	display: flex;
	padding: 1% 1%;
	justify-content: space-between;
}

.input-area
{
	text-size-adjust: none;
	background-color:  var(--bg-color);
	font-family: 'Anonymous Pro', monospace;
	font-size: 18px;
	color: var(--text-color);
	padding: 1%;
	border-radius: 12px;
	border: 0;
	width: 48vw;
	height: 78vh;
	outline: none;
	resize: none;
	box-shadow: inset 6px 4px 12px var(--shadow-up),
    inset -6px -6px 12px var(--shadow-down);
    -moz-box-shadow: inset 6px 4px 12px var(--shadow-up),
    inset -6px -6px 12px var(--shadow-down);
    -o-box-shadow: inset 6px 4px 12px var(--shadow-up),
    inset -6px -6px 12px var(--shadow-down);
    -webkit-box-shadow: inset 6px 4px 12px var(--shadow-up),
    inset -6px -6px 12px var(--shadow-down);
}

.output
{
	height: 78vh;
	width: 48vw;
	padding: 1%;
	border-radius: 12px;
	background-color:  var(--bg-color);
	color: var(--text-color);
	box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
   -moz-box-shadow:  6px 6px 12px var(--shadow-up),
   -6px -6px 12px var(--shadow-down);
   -o-box-shadow:  6px 6px 12px var(--shadow-up),
   -6px -6px 12px var(--shadow-down);
   -webkit-box-shadow:  6px 6px 12px var(--shadow-up),
   -6px -6px 12px var(--shadow-down);
   word-wrap: break-word;
   overflow-y: scroll;
   font-family: cursive;
}

  .input-area::-webkit-scrollbar {
	width: 11px;
  }
  .input-area {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  .input-area::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
  }
  .input-area::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG) ;
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
  }
  
  .output::-webkit-scrollbar {
	width: 11px;
  }
  .output {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  .output::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
  }
  .output::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG) ;
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
  }
  
  div:empty:before {
	content:attr(data-placeholder);
	color:var(--text-color)
  }
  
  @media screen and (max-width:780px){
	  
	.editor
	{
		
		flex-direction: column;
		margin: auto;
		width: 100vw;
		align-items: center;
	}
	.input-area , .output
	{
		width: 90vw;
		margin-bottom: 15px;
		border: 1px solid var(--text-color);
	}

  }