html[data-theme="light"]
{
	/* Light Mode */
	--footer-bg-color: white;
	--text-color: black;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--footer-bg-color: #000;
	--text-color: #ccc;
}
.footer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
