a
{
	text-decoration: none;
}
body
{
	padding: 0pt;
	border: 0pt;
	margin: 0pt;
	background: #292929;
	font-family: 'Anonymous Pro', monospace;
	background-color: #292929;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#292929', endColorstr='#CCCCCC');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #292929), color-stop(100%, #CCCCCC));
    background-image: -webkit-linear-gradient(135deg, #292929, #CCCCCC);
    background-image: -moz-linear-gradient(45deg, #292929, #CCCCCC);
    background-image: -ms-linear-gradient(45deg, 2929293 0, #CCCCCC 100%);
    background-image: -o-linear-gradient(45deg, #292929, #CCCCCC);
    background-image: linear-gradient(135deg, #292929, #CCCCCC);
}

h4
{
	text-align: center;
	color: #CCCCCC;
}

header
{
	position: fixed;
	padding: 0pt;
	border: 0pt;
	margin: 0pt;
	background: #292929;
	width: 100%;
}
#header-div
{
	border: 3pt;
	width: 100vw;
}
#nav-heading1
{
	color: #CCCCCC;
}
#nav-heading-td
{
	padding: 4pt;
	width: 25%;
}

.nav-sub-heading-td
{
	padding: 0;
	width: 15%;
}

#header-table
{
	border: 1pt;
	width: 100%
}

header:hover
{
	width: 100%;
	box-shadow: 1px 2px 2px 2px white;
}

.sticky 
{
	border: 0pt;
	padding: 0pt;
	margin: 0;
	position: fixed;
	width: 100%;
	box-shadow: 2px 4px 2px 2px black;
}

#h1-name
{
	text-align: center;
	color: #cccccc;
}

/*Glitch*/

.text-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  z-index: 1;

}
.text-link:before,
.text-link:after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-link:before {
  color: #00ffff;
  z-index: -1;
}
.text-link:after {
  color: #ff00ff;
  z-index: -2;
}
.text-link:hover:before {
  -webkit-animation: glitchy 0.3s ease 0.3s infinite;
          animation: glitchy 0.3s ease 0.3s infinite;
}
.text-link:hover:after {
  animation: glitchy 0.3s ease infinite reverse;
}
@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}
@keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}
