html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
    --shadow-down:#ffffff;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);
	width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

}
.mainpage
{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.title
{
	display: flex;
	padding: 2% 0% 0% 0%;
	margin: auto;
	width: 100%;
	justify-self: center;
	align-self: center;
    text-justify: center;
}

.title span
{
	color: var(--text-color);
	font-size: 12vh;
	text-align: center;
	margin: auto;
}

.story
{
    display: flex;
    flex-direction: column;
    width: 85vw;
    justify-self: center;
    text-align: center;
    padding: 4vh 0;
    /* margin-left: 7.3vw; */
    margin: auto;
}
.photos
{
    display: grid;
    /* grid-gap: 1vw 1vw; */
	grid-template-columns: auto auto auto;
	grid-template-rows: repeat(10, auto);
	/* align-content: center; */
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 2vh 0;
    /* grid-auto-flow: dense; */
    
}
.photos img
{   
     max-width: 20vw;
}

#links
{
	padding-top: 2%;
	width: 80vw;
	margin: auto;
}

@media screen and (max-width:780px){
    .title span
{
    font-size: 50px;
}
.photos
{
    /* background-color: blueviolet; */
    /* border-radius: 20px; */
}
    .photos img
    {   
         max-width: 32.5vw;
    }    
}