*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
body
{
    background-color: black;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #000;
	font-family: 'Anonymous Pro', monospace;
    
}
.logo{
    color:whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    z-index: 1;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color:whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}
.burger{
    display:none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height:3px;
    background-color:whitesmoke;
    margin:5px;
    transition: all 0.7s ease;
}
@media screen and (max-width:1024px){
    body{
        overflow: hidden;
    }
}
.nav-links{
        width: 60%;
    }

@media screen and (max-width:780px){
        .nav-links{
            position: absolute;
            right:0px;
            height:82vh;
            top:8vh;
            background-color: #000;
            display: flex;
            flex-direction: column;
            align-items: center;
            width:50%;
            transform: translatex(100%);
            transition:transform 0.5s ease-in;
        }
        .nav-links li{
            opacity:0;
        }
        .burger{
            display: block;
        }
}
    .nav-active{
        transform: translateX(0%);
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
.toggle .line1
{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2
{
    opacity: 0;
}

.toggle .line3
{
    transform: rotate(45deg) translate(-5px,-6px);
}

#div-typed
{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
}


.element
{
    font-size: 5vw;
    color: white;
}

.typed-cursor {
	font-size: 5vw;
	color: white;
}

/*Glitch*/

.text-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  z-index: 1;

}
.text-link:before,
.text-link:after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-link:before {
  color: #00ffff;
  z-index: -1;
}
.text-link:after {
  color: #ff00ff;
  z-index: -2;
}
.text-link:hover:before {
  -webkit-animation: glitchy 0.3s ease 0.3s infinite;
          animation: glitchy 0.3s ease 0.3s infinite;
}
.text-link:hover:after {
  animation: glitchy 0.3s ease infinite reverse;
}
@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}
@keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}
