html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
}

body
{
    background-color: var(--bg-color);
    overflow: hidden;
}
.home
{
	padding: 0 20%;
	width: 100%;
	height: 90%;
	display: flex;
	position: absolute;
	
}
.home span
{
	text-align: left;
	margin: auto;
	font-size: 16.5vh;
	color:var(--text-color);
	font-family: Georgia;
}

@media screen and (max-width:780px){
    body
    {
        overflow: none;
	}
	.home
	{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0, 10%;
		height: 80%;
		width: 100%;
	}
	.home span
	{
		font-size: 15vw;
	}
}