@charset "utf-8";
/* CSS Document */

a
{
	color: #CCCCCC;
	text-decoration: none;
}

#home-h1id
{
	color: #CCCCCC;
	text-align: center;
}



body
{
	background: #292929;
	margin: 0;
	padding: 0;;
	font-family: 'Anonymous Pro', monospace;
/*	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";*/
/*	overflow: hidden;*/
}
	
h4
{
	
	text-align: center;
	color: #CCCCCC;
}
header
{
	
	padding: 0pt;
	border: 0pt;
	margin: 0pt;
	background: #292929;
	width: 100vw;
}
#nav-heading1
{
	color: #CCCCCC;
}
#nav-heading-td
{
	padding: 5pt;
	width: 67vw;
}
.nav-sub-heading-td
{
	padding: 5pt;
	width: 8vw;
}

#header-table
{
	border: 1pt;
	width: 100%;
}

header:hover
{
	width : 100%;
	box-shadow: 1px 2px 2px 0px white;
}

.sticky 
{
	border: 0pt;
	padding: 2pt;
	margin: 0;
	position: fixed;
	width: 100%;
	box-shadow: 2px 4px 2px 2px black;
}

#header-div
{
	border: 1pt;
	width: 100vw;
}

#div-table
{
	padding: 5pt;
}

#div-para
{
	padding: 5pt;
}

.element
{
	font-size: 8vw;
	color: #CCCCCC;
}
   
#div-typed
{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
}

img
{
	width: 5%;
}