html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
    --shadow-down:#ffffff;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);
	width: 100%;
    overflow-x: hidden;
}
.title
{
	display: flex;
	padding: 2% 0% 0% 0%;
	margin: auto;
	width: 100%;
	justify-self: center;
	align-self: center;
	text-justify: center;
}

.title span
{
	color: red;
	font-size: 12vh;
	text-align: center;
	margin: auto;
}

.expectation
{
    display: flex;
	padding: 2% 0% 0% 0%;
	margin: auto;
	width: 100%;
	justify-self: center;
	align-self: center;
	text-justify: center;
}

.expectation span
{
	color: var(--text-color);
	font-size: 2vh;
	text-align: center;
	margin: auto;
}

.event
{
    display: flex;
    border-radius: 12px;
    width: 40%;
    padding: 0.15% 2%;
    text-align: center;
    border: 0.5px;
    border-color: var(--text-color);
    border-style: solid;
    margin: auto;
    background-color: var(--text-color);
    color: var(--bg-color);
    font-family: 'Anonymous Pro', monospace;
    text-align: center;
    justify-content: center;
}

.event:hover
{
    background-color: var(--bg-color);
    color: var(--text-color);
    border-width: 0.5px;
    border-color: var(--text-color);
    border-style: solid;
    cursor: pointer;
}

#links
{
	padding-top: 2%;
	width: 80vw;
	margin: auto;
}