html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
    --shadow-down:#ffffff;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);
	width: 100%;
	overflow-x: hidden;
	
}
body::-webkit-scrollbar {display:none;}
nav
{
	scroll-snap-align: start;
	z-index: 2;
}
.main-title
{
	display: flex;
	width: 100vw;
	height: 92vh;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 50px;
	cursor: pointer;
	z-index: 1;
}

#arrow
{
	transform: rotate(-90deg);
}

#neumorphism
{
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
	width: 100vw;
	height: 100vh;
	
}
.div-title-neu
{
	position: absolute;
	left: 10px;
	font-size: 45px;
	text-align: left;
	opacity: 0.5;
}
#glassmorphism
{
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
	width: 100vw;
	height: 100vh;
	background: no-repeat center url(../images/blog-3.jpg);
}
.div-title-glass
{
	position:absolute;
	font-size: 450px;
	text-align: center;
	opacity: 0.5;
	color: black
}
#material
{
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
	width: 100vw;
	height: 100vh;

}

.div-title-material
{
	position: absolute;
	right: 10px;
	font-size: 45px;
	text-align: left;
	opacity: 0.5;
	text-align: right;
}

.mobile-neumorphism
{
	transform-style: preserve-3d;
	z-index: 1;
	height: 812px;
	width: 375px;
	border-radius: 50px;
	background-color: var(--bg-color);
	background-repeat: repeat-y;
	box-shadow:  -30px -30px 100px var(--shadow-down), 
				 30px 30px 100px var(--shadow-up);
	padding: 10px;
}
.mobile-glassmorphism
{
	transform-style: preserve-3d;
	z-index: 2;
	height: 812px;
	width: 375px;
	border-radius: 50px;
	background-color: rgba(255,255,255,0.2);
	backdrop-filter: blur(40px);
	background-repeat: repeat-y;
	border: 2px solid transparent;
	background-clip: padding-box;
	padding: 10px;
}
.glass-main
{
	height: 100%;
	width: 100%;
	border-radius: 50px;
	/* background: no-repeat center url(../images/blog-2.jpg); */
}
.mobile-material
{
	transform-style: preserve-3d;
	z-index: 1;
	height: 812px;
	width: 375px;
	border-radius: 50px;
	background-color: var(--bg-color);
	background-repeat: repeat-y;
	box-sizing: border-box;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
	padding: 10px;
}

.top
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 20%;
	justify-content: space-around;
	align-items: center;
}
.top input
{
	width: 65%;
	height: 20%;
	border-radius: 50px;
	padding: 10px;
	border: none;
	background-color: var(--bg-color);
	color: var(--text-color);
	outline: 0;
}

.-top input:focus
{
	width: 65%;
	height: 20%;
	border-radius: 50px;
	border: none;
	outline: 0;
}
.top button 
{
	width: 30%;
	height: 20%;
	border-radius: 50px;
}
.bottom
{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 80%;
	border-radius: 50px;
	
}
.card
{
	width: 100%;
	height: 75%;
	border-radius: 50px;
	margin-bottom: 50px;
}

#neu-1, #neu-2
{
	box-shadow:  -10px -10px 30px var(--shadow-down), 
				 10px 10px 30px var(--shadow-up);

}

#neu-input
{
	box-shadow: inset 3px 2px 12px var(--shadow-up),
	inset -3px -3px 12px var(--shadow-down);
	
    -moz-box-shadow: inset 3px 2px 12px var(--shadow-up),
	inset -3px -3px 12px var(--shadow-down);
	
    -o-box-shadow: inset 3px 2px 12px var(--shadow-up),
	inset -3px -3px 12px var(--shadow-down);
	
    -webkit-box-shadow: inset 3px 2px 12px var(--shadow-up),
	inset -3px -3px 12px var(--shadow-down);
}
#neu-button
{
	box-shadow:  6px 6px 10px var(--shadow-up), 
				 -6px -6px 10px var(--shadow-down);
				 
	-moz-box-shadow:  6px 6px 10px var(--shadow-up), 
					  -6px -6px 10px var(--shadow-down);
	
	-o-box-shadow:  6px 6px 10px var(--shadow-up), 
					-6px -6px 10px var(--shadow-down);
	
	-webkit-box-shadow:  6px 6px 10px var(--shadow-up), 
						-6px -6px 10px var(--shadow-down);
}

#glass-input, #glass-button, #glass-1, #glass-2
{
	background-color: rgba(255,255,255,0.2);
	backdrop-filter: blur(40px);
	background-repeat: repeat-y;
	border: 2px solid transparent;
	background-clip: padding-box;
	color: black;
}

#mat-input, #mat-button, #mat-1, #mat-2
{
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}