/* CSS Document */
body
{
    max-width: 100%;
    max-height: auto;
    background-color: black;
}

.enlaregd
{
    margin: auto;
    max-width: 50vw;
    max-height: auto;
    height: auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.enlaregd img
{
    margin: auto;
    max-width: 25vw;
}

.enlaregd span
{
    transform: translateY(-5vw);
    font-size: 5em;
    margin: auto;
}

.block
{
    transform: translateY(-2px);
        margin: auto;
    max-width: 50vw;
    max-height: auto;
    background-color: aquamarine;
    text-align: center;
}

.block span
{
    font-size: 8em;
}

@media screen and (max-width: 785px)
{}