@charset "utf-8";
/* CSS Document */

a
{
	color: #CCCCCC;
	text-decoration: none;
	font-size: 2em;
}
#profile_pic
{
	display: block;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	height: 20vh;
}

#profile-id
{
	align-content: center;
	margin-top: 8%;
	text-align: center;
	text-justify: auto;
	color: #CCCCCC;
	font-size: 22pt;
}
section
{
	
	position: relative;
	padding: 5px;
	min-height: 55vh;
	background: #292929;
}

#abt-me-bodyid
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-sarif;
	background: #292929;
}

#home-h1id
{
	color: #CCCCCC;
	text-align: center;
}

#abt-me-h1id
{
	color: #CCCCCC;
	text-align: center;
}

.abt-me-para
{
	text-align: center;
	padding: 5%;
	color: #CCCCCC;
	font-size: 20pt;
}
#about-meid
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	background: #CCCCCC;
	mix-blend-mode: exclusion;
	
}

body
{
	background: #292929;
	margin: 0;
	padding: 0;;
	
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
/*	overflow: hidden;*/
}
	
