@charset "utf-8";
/* Specificity : In-Line > Id > Class > Header*/
body
{
	background: #292929;
	}

a
{
	text-decoration: none;
}

#h1id
{
	color: #CCCCCC;
	text-align: center;
}
#profile_pic
{
	display: block;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	height: 20vh;
}

#profile-id
{
	align-content: center;
	margin-top: 8%;
	text-align: center;
	text-justify: auto;
	color: #CCCCCC;
	font-size: 22pt;
}