html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
    --shadow-down:#ffffff;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}


.audiobox
{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
	border-radius: 12px;
    box-shadow:  6px 6px 12px var(--shadow-up),
	 -6px -6px 12px var(--shadow-down);
	-moz-box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
	-o-box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
	-webkit-box-shadow:  6px 6px 12px var(--shadow-up),
	-6px -6px 12px var(--shadow-down);
	-webkit-appearance: none;
	margin-bottom: 3vh;
}

.audiobox audio
{
    width: 30vw;
    margin: auto;
    background-color: #f1f3f4;
    z-index: 2;
}

.audiobox audio:focus
{
    outline: none;
}
.audiobox img
{
    border-radius: 12px 12px 0px 0px; 
    width: 30vw;
    max-height: auto;
    margin: auto;
    
}

.audiobox span
{
    opacity: 0.6;
    font-family: 'Anonymous Pro', monospace;
    margin: auto;
    text-align: center;
    padding: 1%;
}

@media screen and (max-width:780px){


    .audiobox
    {
        width: 80vw;
    }

    .audiobox audio
    {
        width: 80vw;
    }
    .audiobox img
{
    width: 80vw;
    height: 30vh;
    
}
}