html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
    --shadow-down:#ffffff;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

.row{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    padding-left: 0.5%;
    border-radius: 12px;
    margin-bottom: 0.5%;
    background-color: var(--text-color);
    color: var(--bg-color);
}
.odd:hover, .even:hover
{
    transform: scale(1.1);
    transition: transform 250ms ease-in;
    cursor: pointer;
}
.row a
{
    text-decoration: none;
    color: var(--bg-color);
}
#top
{
    
    box-shadow:  6px 6px 12px var(--shadow-up),
    -6px -6px 12px var(--shadow-down);
   -moz-box-shadow:  6px 6px 12px var(--shadow-up),
   -6px -6px 12px var(--shadow-down);
   -o-box-shadow:  6px 6px 12px var(--shadow-up),
   -6px -6px 12px var(--shadow-down);
   -webkit-box-shadow:  6px 6px 12px var(--shadow-up),
   -6px -6px 12px var(--shadow-down);
   -webkit-appearance: none;
   margin-bottom: 2%;
   background-color: var(--bg-color);
   color: var(--text-color);
}

.number
{
    width: 10%;
}

.code-title
{
    width: 65%;
}

.difficulty
{
    width: 15%;
}

.easy
{
    color: green;
}
