html
{
	/* Light Mode */
	--bg-color: white;
	--text-color: black;
	--shadow-up:#8a8888;
    --shadow-down:#ffffff;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html[data-theme="dark"]
{
	/* Dark Mode */
	--bg-color: #292929;
	--text-color: #ccc;
	--shadow-up:#1c1c1c;
	--shadow-down:#363636;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);
	width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

}
.mainpage
{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.title
{
	display: flex;
	padding: 2% 0% 0% 0%;
	margin: auto;
	width: 100%;
	justify-self: center;
	align-self: center;
    text-justify: center;
}

.title span
{
	color: var(--text-color);
	font-size: 12vh;
	text-align: center;
	margin: auto;
}

.story
{
    display: flex;
    flex-direction: column;
    width: 85vw;
    justify-self: center;
    text-align: center;
    padding: 4vh 0;
    /* margin-left: 7.3vw; */
    margin: auto;
}
#links
{
    /* padding-top: 2%; */
    border-radius: 12px;
    width: 80vw;
    margin: auto;
    box-shadow:  4px 4px 12px var(--shadow-up),
    -4px -4px 12px var(--shadow-down);
    -moz-box-shadow:  4px 4px 12px var(--shadow-up),
    -4px -4px 12px var(--shadow-down);
    -o-box-shadow:  4px 4px 12px var(--shadow-up),
    -4px -4px 12px var(--shadow-down);
    -webkit-box-shadow:  4px 4px 12px var(--shadow-up),
    -4px -4px 12px var(--shadow-down);
    -webkit-appearance: none;
    cursor: pointer;
}

#links > a
{
    text-decoration: none;
}

#links > a > img
{
    border-radius: 12px;
    /* border: 3px solid var(--text-color); */
}

#links > a > img:hover
{
    transform: scale(1.2);
    transition: transform 250ms ease-in;
    /* transform: perspective(800px); */
    box-shadow:  4px 4px 12px var(--shadow-up),
    -4px -4px 12px var(--shadow-down);
    -moz-box-shadow:  4px 4px 12px var(--shadow-up),
    -4px -4px 12px var(--shadow-down);
    -o-box-shadow:  4px 4px 12px var(--shadow-up),
    -4px -4px 12px var(--shadow-down);
    -webkit-box-shadow:  4px 4px 12px var(--shadow-up),
    -4px -4px 12px var(--shadow-down);
    -webkit-appearance: none;
}

@media screen and (max-width:767px){
    .title span
{
    font-size: 50px;
}

#links
{
    width: 100vw;
    overflow-x: auto;
    margin: auto;
}
}